.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 33.33%;
  border: none;
  font-size: 50px;
  background-color: inherit;
}

.unoccupied.x-is-next:hover::after {
  content: 'X';
  opacity: 0.15;
}

.unoccupied.o-is-next:hover::after {
  content: 'O';
  opacity: 0.15;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.cell .is-next-to-reset {
  animation: flash 1s infinite;
}

.cell .value {
  transition: font-size 0.1s ease-in-out;
}
