.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 33.33%;
  border: none;
  font-size: 50px;
  background-color: inherit;
}

.cell .placeholder {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cell .placeholder:hover {
  opacity: 0.15;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.cell .is-next-to-reset {
  animation: flash 1s infinite;
}

.cell .value {
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}
