.countdown-bar {
  width: 20px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-bar .remaining {
  width: inherit;
  border-radius: inherit;
}
