.game {
  width: 97.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game .header,
.game .footer {
  height: 10%;
}

.game .body {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
