.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
  position: relative;
}

.grid > * {
  box-sizing: border-box;
  border: none;
}

.grid .line {
  --line-thickness: 2px;
  --line-colour: rgb(100, 100, 100);
  --line-shadow-colour: rgb(50, 50, 50);

  position: absolute;
  border-radius: 100%;
  background-color: var(--line-colour);
  box-shadow: 0 0 0.2vw var(--line-shadow-colour), 0 0 0.4vw var(--line-shadow-colour);
  /* Blend overlapping shadows */
  mix-blend-mode: screen;
}

.grid .top.line,
.grid .bottom.line {
  width: 100%;
  height: var(--line-thickness);
}

.grid .left.line,
.grid .right.line {
  width: var(--line-thickness);
  height: 100%;
}

.grid .top.line {
  top: 33.33%;
}

.grid .bottom.line {
  top: 66.66%;
}

.grid .left.line {
  left: 33.33%;
}

.grid .right.line {
  left: 66.66%;
}
