.home {
  width: 100%;
  height: 100%;
  padding: 0 1%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
}

.home .game-mode-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.home .background-game {
  position: absolute;
  transform: rotateX(10deg) rotateY(10deg) translate(10%, -15%);
  overflow: hidden;
  z-index: -1;
}

.home .background-game .grid {
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0.1;
}

.home .github-link {
  position: absolute;
  bottom: 2%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 0.2rem;
}

.home .github-link,
.home .github-link * {
  transition: color 0.15s ease-in-out;
}

.home .github-link:hover,
.home .github-link:hover * {
  color: rgb(200, 200, 200);
}
